<footer class="ampstart-footer flex flex-column items-center px3">

  <%= partial 'partials/social_icons' %>
  <nav class="ampstart-footer-nav">
    <ul class="list-reset flex flex-wrap mb3">
      <li class="px1">
        <a class="text-decoration-none caps h5" href="https://www.google.com/policies/privacy/">Privacy</a>
      </li>
      <li class="px1">
        <a class="text-decoration-none caps h5" href="https://github.com/ampproject/ampstart/blob/master/LICENSE">License</a>
      </li>
    </ul>
  </nav>
  <a href="https://beardless.io">
    <%= inline_svg('assets/images/beardless-logo.svg', class: 'svg beardless-logo') %>
  </a>
  <small>© Beardless AB, 2017</small>
</footer>
