---
title: Middleman AMP Base
description: A good stating point for a Middleman AMP project.
canonical: 'https://www.example.com'
---
<a href="https://beardless.io">
  <%= inline_svg('assets/images/beardless-logo.svg', class: 'svg beardless-logo') %>
</a>
